@model BugViper.Models.Bug

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<h3>@ViewBag.userEmail</h3>
<h4>Bug</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <input asp-for="Priority" class="form-control" />
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="DatePosted" class="control-label"></label>
                <input asp-for="DatePosted" class="form-control" />
                <span asp-validation-for="DatePosted" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpectedHours" class="control-label"></label>
                <input asp-for="ExpectedHours" class="form-control" />
                <span asp-validation-for="ExpectedHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForumPoster" class="control-label"></label>
                <input asp-for="ForumPoster" class="form-control" />
                <span asp-validation-for="ForumPoster" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            @{
                //Model.PostedBy = ViewBag.userId.ToString();
                //Model.PostedBy = @ViewBag.userId!;
            }
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
