@model BugViper.Models.Bug

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/createEditForm.css">

<h1>Edit</h1>

<h4>Bug</h4>
<hr />
<div class="login-box">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="user-box">

            <div class="form-group">

                    <label asp-for="Subject" class="control-label"></label>
                    <input asp-for="Subject" class="form-control" />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
            </div>
            <div class="user-box">
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <input asp-for="Priority" class="form-control" />
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            </div>
             <div class="user-box">
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            </div>
           <div class="user-box">
            <div class="form-group">
                <label asp-for="ExpectedHours" class="control-label"></label>
                <input asp-for="ExpectedHours" class="form-control" />
                <span asp-validation-for="ExpectedHours" class="text-danger"></span>
            </div>
            </div>
            <div class="user-box">
            <div class="form-group">
                <label asp-for="PostedBy" class="control-label"></label>
                <input asp-for="PostedBy" class="form-control" />
                <span asp-validation-for="PostedBy" class="text-danger"></span>
            </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <input type="submit" value="Save" class="btn btn-primary" />

            </div>
        </form>
    </div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }